body{
    font-family: Verdana;
    font-size: 1.1em;
    background: silver;
    color: darkblue;
}

h1 {
    font-variant: all-petite-caps;
    background-color: red;
}
a:hover{
    border: 2px solid black;
}

.stippeltjesrand{
    border: dotted 1px;
}

.background_img{
    height: 40px;
}

.checklist li:before{
    content: '☐';

}

.checklist li.checked:before{
    content: '☑';

}

.checklist{
    list-style: none;
}