body {
    margin: 20px;
}

.sliders {
    margin-right: 0;
    float: left;
}

.vierkant {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: rgb(128, 128, 128);
}


#sliders {
    padding-left: 20px;
    height: 150px;
    width: 450px;
    border: 5px gray solid;
    border-radius: 15px;
}

button {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.kruisje {
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 500px;
    float: bottom;
}
